/*
    Contains general styling for common components across all pages (nav, background, etc.)
*/
* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: row;
    margin: 0;
    font-family:Verdana, Tahoma, sans-serif;
    background-image: url('../images/general-background.png');
}
nav {
    display: flex;
    flex-direction: column;  /* Stack items vertically */
    align-items: flex-start; /* Align to the left */
    top: 0;
    left: 0;
    height: 100vh;           /* Full height */
    width: 1%;              /* Set width */
    min-width: 100px;            
    background-color: #FFF3D7;
    padding: 1em;

    border-color: #F8E3B7;
    border-width: 2px;
    border-style: solid;

}

nav a {
    /* Center text in each box*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    /* Set size of each box */
    width: 100%;
    height: 8%;

    /* Style of each box */
    font-size: 100%;
    text-decoration: none;
    margin-bottom: 1rem;
    color: #333;
    /* border-radius: 10px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: 15px */
}

nav a:hover {
    background-color: #fff7e7;
}
