body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
    padding-left: 5%;
    padding-right: 5%;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar {
    margin-top: 5%;
    margin-bottom: 5%;
}

.calendar {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60vw;
    height: auto;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    background-color: #fff;
}

.month-year {
    text-align: center;
    font-weight: 600;
    width: 150px;
}

header button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 4px black;
    font-size: x-large;
}

.cal-body {
    width: 90%;
}

.days {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    margin-top: 10px;
}

.day {
    text-align: center;
    padding: 5px;
    color: black;
    font-weight: 500;
}

.dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* gap: 5px; */
    width: 100%;
    margin-top: 5px;
    border: 1px solid black;
}

.date {
    /* display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; */
    /* padding: 10px; */
    aspect-ratio: 3/2;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 0;
    box-sizing: border-box;
    /* width: 40px;
    height: 40px; */
    position: relative;
    /* transition: 0.2s; */
}

.date::after {
    content: attr(data-day);
    position: absolute;
    bottom: 4px;
    right: 6px;
    font-size: 0.5em;
    color: black;
}

.date.active {
    background-color: yellow;
}

.date.inactive::after {
    color: #d2d2d2;
}

.date.inactive:hover {
    color: #fff;
}

