main {
    flex: 1;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
    min-height: 100vh;
}

.card-recap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* border: 1px dashed #aaa; */
    width: 100%;
    height: 100%;
    padding: 1rem;
    margin: 1rem 0;
}

/* 
.card-recap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60vw;
    height: auto;
    flex-direction: column;
    padding: 10px;
} */

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../images/recap-placeholder-image.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 80%;
    height: 100%;
}

.button-container {
    margin: 3vh;
    display: flex;
    justify-content:space-around;
    width: 60vh;
    height: 10vh;
}

.card-buttons {
    min-width: 10ch;
    width: 30%;
    height: 120%;
    background-image: url('../images/button-backgrounds.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
    font-size: 1rem;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 60vw;
}

#search-input {
    width: 60%;
    border-color: #f3d189;
    background-color: #fff6e3;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    padding: 1em 1.2em;
    font-size: 0.75rem;
}

#search-input:focus {
    border-color: #f3d189;
    background-color: #fff6e3;
    outline: none;
}