<template id="card-template">
    <article class="card" role="region" aria-label="Card Prompt">
        <header class="card-side card-front" tabindex="0">
            <h2 class="prompt"></h2>
            <time class="date"></time>
            <figure>
                <img src="" alt="Picture">
            </figure>
        </header>

        <section class="card-side card-back">
            <form>
                <label for="response">Your Response</label>
                <textarea id="response" name="response" placeholder="Type your response..." aria-label="Response input"></textarea>
            </form>
        </section>
    </article>
</template>
